/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #146C94;
  --ifm-color-primary-dark: #2B3467;
  --ifm-color-primary-darker: #2B3467;
  --ifm-color-primary-darkest: #2B3467;
  --ifm-color-primary-light: #BAD7E9;
  --ifm-color-primary-lighter: #BAD7E9;
  --ifm-color-primary-lightest: #BAD7E9;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #BAD7E9;
    --ifm-color-primary-dark: #BAD7E9;
    --ifm-color-primary-darker: #BAD7E9;
    --ifm-color-primary-darkest: #BAD7E9;
    --ifm-color-primary-light: #2B3467;
    --ifm-color-primary-lighter: #2B3467;
    --ifm-color-primary-lightest: #2B3467;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
